<ol class="breadcrumb" style="margin:0; padding: 2px 0 0 5px">

  <li class="breadcrumb-item">
    <label>UF:&nbsp;</label>

    <select  [(ngModel)]="uf" name="veiculoId" class="input-xs w-100px"  >
      <option *ngFor="let uf of ufs" value="{{ uf.value }}">{{ uf.label }}</option>
    </select>

    <label>&nbsp;de&nbsp;</label>

   <input type="text" placeholder="Data" bsDatepicker class="datepicker"
          [(bsValue)]="inicio" value="{{ inicio | date:'dd/MM/yyyy' }}">

    <ng-template #horaInicioTemplate>
        <timepicker [(ngModel)]="horaInicio" [showMeridian]="false" (ngModelChange)="changeHoraInicio()"></timepicker>
    </ng-template>

    <input [(ngModel)]="horaInicioString" [popover]="horaInicioTemplate" class="timepicker"
           readonly placeholder="Hora" [outsideClick]="true" placement="bottom">

    <!--<p-calendar dateFormat="dd/mm/yy " showTime="true" hourFormat="24" inputStyleClass="input-xs"
                [(ngModel)]="inicio"
                [inputStyle]="{fontSize:'12px'}"
                name="inicio"
    >
    </p-calendar>-->

    <label>&nbsp;até&nbsp;</label>
 <!--   <p-calendar dateFormat="dd/mm/yy " showTime="true" hourFormat="24" inputStyleClass="input-xs mr-2"
                [(ngModel)]="fim"
                [inputStyle]="{fontSize:'12px'}"
                name="fim"
    >
    </p-calendar>-->

   <input type="text" placeholder="Data" bsDatepicker class="datepicker"
          [(bsValue)]="fim" value="{{ fim | date:'dd/MM/yyyy' }}">

    <ng-template #horaFimTemplate>
        <timepicker [(ngModel)]="horaFim" [showMeridian]="false" (ngModelChange)="changeHoraFim()"></timepicker>
    </ng-template>

    <input [(ngModel)]="horaFimString" [popover]="horaFimTemplate" class="timepicker"
           readonly placeholder="Hora" [outsideClick]="true" placement="bottom">

    <button (click)="mostrarPessoas()" class="btn btn-xs btn-danger mr-2 botao-rastrear"
            [disabled]="!horaInicio || !horaFim || !inicio || !fim">
      <i class="fa fa-map-marker">&nbsp;Rastrear</i>
    </button>


    <i class="fa fa-map{{!checked?'-o':''}} ml-5 mr-1"></i>
    <input (change)="changeMap($event)" [(ngModel)]="checked" class="mr-3"  type="checkbox">

  </li>

</ol>
<agm-map [latitude]="mapaObject.centro.locLatitude" [longitude]="mapaObject.centro.locLongitude" [(zoom)]="mapaObject.zoom"
         [fullscreenControl]='true'   [mapTypeId]="mapTypeId">

<agm-marker *ngFor="let pessoa of pessoas" [longitude]="pessoa.locLongitude"
            [latitude]="pessoa.locLatitude" [iconUrl]="smartphoneIcon">
  <agm-info-window>{{pessoa.nome}} - {{pessoa.locData | date: 'dd/MM/yy HH:mm:ss'}}</agm-info-window>
</agm-marker>

<!--  <agm-polyline>
    <agm-polyline-point *ngFor="let loc of pessoas"
                        [latitude]="loc.latitude"
                        [longitude]="loc.longitude">
    </agm-polyline-point>
  </agm-polyline>
  <agm-marker [latitude]="pessoas[pessoas?.length-1]?.latitude"
              [longitude]="pessoas[pessoas?.length-1]?.longitude"
  >
  </agm-marker>-->
</agm-map>
<!--<ol class="breadcrumb-fixed" >
  <li class="breadcrumb-item">

    <button (click)="rastrearVeiculo()" class="btn btn-xs btn-primary mr-2">Rel. Paradas</button>
    <button (click)="rastrearVeiculo()" class="btn btn-xs btn-secondary mr-2">Rel. Percurso</button>
    <button (click)="rastrearVeiculo()" class="btn btn-xs btn-danger mr-2">Bloqueio</button>
    <button (click)="rastrearVeiculo()" class="btn btn-xs btn-danger mr-2">Tacógrafo</button>
    <button (click)="rastrearVeiculo()" class="btn btn-xs btn-danger mr-2">Cerca</button>

  </li>
</ol>-->
