agm-map {
  height: 100% !important;
  background-color: #F3D712;
}

.breadcrumb {
  margin-bottom: 0;
  z-index: 100;
  position: fixed;
  padding: 1px 5px;

  /* margin-right: 100px; */
}

.breadcrumb-fixed {
  margin-bottom: 0;
  margin-top: 10px;
  z-index: 100;
  position: absolute;
  padding: 3px 5px;
  /* margin-right: 100px; */
}

select {
  font-size: 12px;
  color: #333333;
  background: #ffffff;
  padding: 0.429em;
  border: 1px solid #a6a6a6;
  transition: border-color 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
}

.botao-rastrear {
  margin-bottom: 2px;
  margin-left: 5px;
  height: 28px;
  padding: 3.5px 12px;
}

.p-3 {
  padding: 0 !important;
}

.datepicker {
  width: 100px;
}

.timepicker {
  width: 50px;
}

.botao-rastrear:disabled {
  cursor: not-allowed;
}
