<div class="animated fadeIn p-0 mt-0">
  <div class="card mb-0">
    <div class="card-header">
      <h4 class="mb-0"><span class="icon-note mr-2"></span>Funcionalidade 1</h4>
    </div>
    <div class="card-body">

      <input type="text"
             placeholder="Datepicker"

             bsDatepicker>

    </div>
  </div>
</div>
