<div class="animated fadeIn p-0 mt-0">
  <div class="card mb-0">
    <div class="card-header">
      <h4 class="mb-0"><span class="icon-speedometer mr-2"></span>Dashboard</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card border-primary mb-3">
            <div class="card-header"><span class="icon-pin mr-2"></span>Avisos</div>
            <div class="card-body text-primary p-1">
              <carousel>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>First custom content</h2>
                    <div class="lead">
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>Second custom content</h2>
                    <div class="lead">
                      <h3>Second slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>Third custom content</h2>
                    <div class="lead">
                      <h3>Third slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
                    </div>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-primary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-secondary mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-success mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-success">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-danger mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-danger">
              <h5 class="card-title">Danger card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-warning mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-warning">
              <h5 class="card-title">Warning card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-info mb-3">
            <div class="card-header">Header</div>
            <div class="card-body text-info">
              <h5 class="card-title">Info card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
