<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
            [navbarBrandFull]="{src: 'assets/img/prf.png', width: 89, height: 25, alt: 'CoreUI Logo'}"
            [navbarBrandMinimized]="{src: 'assets/img/prf.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
            [sidebarToggler]="false" [asideMenuToggler]="false" [mobileSidebarToggler]="false" [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li>
      <a class="nome-sistema" href="#">Rota 191</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <app-menu-sistemas></app-menu-sistemas>
  </ul>
</app-header>
<div class="app-body">
  <!-- Main content -->
  <main class="main">
    <div class="container-fluid p-2">
      <div class="row justify-content-center mt-4">
        <div class="col-md-6 d-flex">
          <div class="mr-4">
            <img src="assets/img/PRF-brasao.png" width="70" height="84">
          </div>
          <h1>Localização de Aparelhos Funcionais</h1>
        </div>
        <div class="col-md-4">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #form="ngForm" (ngSubmit)="login(form)">
                  <app-alert></app-alert>
                  <h1>Login</h1>
                  <p class="text-muted mb-0">Informe seus dados para acessar</p>
                  <div class="form-group mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="icon-user"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Usuário" #usernameRef="ngModel"
                             [(ngModel)]="cpf" name="cpf" required maxlength="120"
                             [class.is-invalid]="usernameRef.invalid && form.submitted"
                             [class.is-valid]="usernameRef.valid && form.submitted">
                    </div>
                    <app-message [form]="form" [control]="usernameRef"></app-message>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="icon-lock"></i>
                        </span>
                      </div>
                      <input type="password" class="form-control" placeholder="Senha" #passwordRef="ngModel"
                             [(ngModel)]="senha" name="senha" [required]="true" maxlength="120"
                             [class.is-invalid]="passwordRef.invalid && form.submitted"
                             [class.is-valid]="passwordRef.valid && form.submitted">
                    </div>
                    <app-message [form]="form" [control]="passwordRef"></app-message>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Entrar</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Fale conosco?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer>
  <span>
    <strong></strong></span>
  <span class="ml-auto">versão
    <span class="text-muted">1.0.0.alpha</span>
  </span>
</app-footer>
