<p-dialog header="{{dialogService.messageTitle}}" [(visible)]="dialogService.displayDialog"
          [style]="{width: '350px', textAlign: 'left'}"
          [contentStyle]="{'min-height':'90px'}"
          [modal]="true"
          [baseZIndex]="100000"
          [blockScroll]="true" >
  {{dialogService.messageText}}
</p-dialog>

<p-dialog header="{{dialogService.messageTitle}}" [visible]="dialogService.displayWaitDialog"
          [style]="{width: '300px',  textAlign: 'center'}"
          [modal]="true"
          [baseZIndex]="100000"
          [closable]="false"
          [blockScroll]="true" >
  <p-progressSpinner  styleClass="m-2" ></p-progressSpinner>
</p-dialog>

<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/prf.png', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/prf.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li>
      <a class="nome-sistema" href="#">Rota 191</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <app-menu-sistemas></app-menu-sistemas>
    <li class="nav-item dropdown" dropdown #dropdown="bs-dropdown" placement="bottom right">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-user mr-1"></i>
        <span class="d-md-down-none mr-1">{{segurancaService.decodedToken.nome}}</span>
        <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <button type="button" (click)="dropdown.isOpen = false;segurancaService.logout()" class="dropdown-item">
          <i class="fa fa-power-off"></i> Sair
        </button>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" href="#"><i class="icon-speech"></i></a>
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
          <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
      </li>
    </cui-breadcrumb> -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>
    <strong></strong></span>
  <span class="ml-auto">versão
    <span class="text-muted">1.0.0.alpha</span>
  </span>
</app-footer>
