<li class="nav-item dropdown d-md-down-none mr-3" dropdown placement="bottom right">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
    aria-expanded="false" dropdownToggle (click)="false">
    <i class="fa fa-bars mr-1"></i>
    <span class="hidden-xs-down mr-1">Sistemas</span>
    <span class="caret"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
    <a target="_blank" href="https://www170.prf.gov.br/alertabrasil" class="dropdown-item ">
      <i class="fa fa-square"></i> Alerta Brasil</a>
    <a target="_blank" href="https://www.prf.gov.br/novobat" class="dropdown-item ">
      <i class="fa fa-square"></i> BAT</a>
    <a target="_blank" href="https://www.prf.gov.br/bop" class="dropdown-item ">
      <i class="fa fa-square"></i> BOP</a>
    <a target="_blank" href="https://www.prf.gov.br/pdi" class="dropdown-item ">
      <i class="fa fa-square"></i> PDI</a>
    <a target="_blank" href="https://sei.prf.gov.br/" class="dropdown-item ">
      <i class="fa fa-square"></i> SEI</a>
    <a target="_blank" href="https://www.prf.gov.br/sicop" class="dropdown-item ">
      <i class="fa fa-square"></i> SICOP</a>
    <a target="_blank" href="https://www.prf.gov.br/silver" class="dropdown-item ">
      <i class="fa fa-square"></i> SILVER</a>
    <a href="#" class="dropdown-item active">
      <i class="fa fa-check-square"></i> SISCOM</a>
    <a target="_blank" href="https://www.prf.gov.br/sisnar" class="dropdown-item ">
      <i class="fa fa-square"></i> SISNAR</a>
    <a target="_blank" href="https://www.prf.gov.br/webmail" class="dropdown-item ">
      <i class="fa fa-square"></i> WebMail</a>
    <a target="_blank" href="https://www.prf.gov.br/wikiprf" class="dropdown-item ">
      <i class="fa fa-square"></i> WikiPRF</a>
  </div>
</li>
