<div class="invalid-feedback d-block" *ngIf="(extraCondicao || form.submitted) && control.invalid">
  <div *ngIf="control.errors.required">Não pode ser nulo</div>
  <div *ngIf="control.errors.minlength && !control.errors.required">Deve ter no mínimo X caracteres</div>
  <div *ngIf="control.errors.maxlength && !control.errors.required">Deve ter no máximo X caracteres</div>
  <div *ngIf="control.errors.email && !control.errors.required">Email inválido</div>
  <div *ngIf="control.errors.cpf && !control.errors.required">Formato inválido</div>
  <div *ngIf="control.errors.cnpj && !control.errors.required">Formato inválido</div>
</div>
