<div class="animated fadeIn p-0 mt-0">
  <form #form="ngForm" (submit)="enviar(form)">
    <div class="card mb-0">
      <div class="card-header">
        <h4 class="mb-0"><span class="icon-support mr-2"></span>Fale Conosco</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Assunto</label>
              <select class="form-control" name="assunto" required [(ngModel)]="mensagem.assunto" #assuntoRef="ngModel"
                [class.is-invalid]="assuntoRef.invalid && form.submitted"
                [class.is-valid]="assuntoRef.valid && form.submitted">
                <option></option>
                <option *ngFor="let assunto of assuntos">{{assunto.descricao}}</option>
              </select>
              <app-message [form]="form" [control]="assuntoRef"></app-message>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Mensagem</label>
              <textarea class="form-control" required rows="5" name="mensagem" [(ngModel)]="mensagem.mensagem"
                #mensagemRef="ngModel" [class.is-invalid]="mensagemRef.invalid && form.submitted"
                [class.is-valid]="mensagemRef.valid && form.submitted"></textarea>
              <app-message [form]="form" [control]="mensagemRef"></app-message>
            </div>
          </div>
        </div>
        <div>
          <button routerLink="/dashboard" class="btn btn-secondary mr-2"><span class="fa fa-remove"></span>
            Cancelar</button>
          <button class="btn btn-primary"><span class="fa fa-send"></span> Enviar</button>
        </div>
      </div>
    </div>
  </form>
</div>
