/* You can add global styles to this file, and also import other style files */
a.nome-sistema {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-size: 30px;
  height: 50px;
  font-weight: 400;
}

.app-header.navbar {
  padding-right: 20px;
  background-color: #150958;
}

.app-footer {
  background: #F3D712;
}

.navbar-nav .active>.nav-link,
.navbar-nav .active>.nav-link:focus,
.navbar-nav .active>.nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.open,
.navbar-nav .nav-link.open:focus,
.navbar-nav .nav-link.open:hover,
.navbar-nav .open>.nav-link,
.navbar-nav .open>.nav-link:focus,
.navbar-nav .open>.nav-link:hover,
.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main .container-fluid {
  padding: 0;
}

